pre,
code,
kbd {
  overflow: auto;
  background-color: var(--code-bg);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 5px;
}

kbd,
code {
  line-height: normal;
  padding: 0.3em;
}
pre > code {
  background: none;
  padding: 0;
  border: none;
}
pre,
code,
kbd {
  font-family: 'Monaco', 'Inconsolata', 'Hack', monospace;
  font-size: 0.7rem;
}
